* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(120deg, #b59b47, #e2722c);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Georgia, "Times New Roman", Times, serif;
}

.container {
  background-color: rgb(142, 82, 19);
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 10px;
  row-gap: 1.1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  padding-bottom: 10px;
  text-align: center;
}

label {
  font-weight: bold;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2rem;
}

.password-display {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  border-radius: 0.5rem;
}

.submit-btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}
.submit-btn:hover {
  background-color: #ffffff33;
}
